/* start global rules */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --main-color:#10cba7;
    --scondry-color: #2c4755;
    --sectio-padding:60px;
    --section-background:#f6f6f6;
    --transition: 0.3s ;
}
html{
    scroll-behavior: smooth;
}
/* Start Container */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media(min-width:768px){
    .container{
        width:750px
    }
}
/* Medium */
@media(min-width:922px){
    .container{
        width:970px
    }
}
/* large */
@media(min-width:1200px){
    .container{
        width:1170px
    }
}
/* End Container */
/* End global rules */
/* Start componnat */
.special-heading{
    font-size: 100px;
  color:  #ebeced;
  text-align: center;
  font-weight: 800;
  letter-spacing: -5px;
  margin: 0;
}
.special-heading + p{
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #777;
}
@media(max-width:767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}
/* End componnat */
/* Start Header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links .icons{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}
.header .links .icons span{
    background-color:#333 ;
    margin-bottom: 5px;
    border-radius: 6px;
    height: 2px;
}

.header .links .icons span:first-child{
    width: 100%;
}
.header .links .icons span:nth-child(2){
    width: 50%;
    transition: width var(--transition);
}
.header .links:hover  .icons span:nth-child(2){
    width: 100%;
}
.header .links .icons span:last-child{
    width: 100%; 
   
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--section-background);
    position: absolute;
    right: 0;
    min-width: 180px;
    top: calc( 100% + 15px);
    display: none;
    z-index: 100;
    transition: display var(--transition);
}

.header .links:hover >  ul{
    display: block;

}

.header .links ul::before{
    content: "";
    position: absolute;
    top: -20px;
    right: 5px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    border-width:10px  ;

}
.header .links ul a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: padding var(--transition);
}
.header .links ul a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom:1px solid #ddd;
}
/* End Header */
/* Start Landing  */
.landing{
    background-image: url(../images/montain.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 320px;
    max-width: 100%;
    transform: translate(-50% , -50%);
}
.landing .intro-text h1{
    margin: 0;
    text-transform: capitalize;
    color: var(--main-color);
    font-weight: bold;
    font-size: 45px;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing  */
/* Start Featurs */
.features{
     padding-top: var(--sectio-padding);
     padding-bottom: var(--sectio-padding);
     background-color:var(--section-background);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    column-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
  color: var(--main-color);
}
.features .feat h3{

    font-weight: 800;
}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End Featurs */
/* star Services */
.services{
    padding-top: var(--sectio-padding);
    padding-bottom: var(--sectio-padding); 
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .col .serv{
    display: flex;
    margin-bottom: 40px;
}
@media(max-width:767px){
    .services .col .serv{
        flex-direction: column;
        text-align: center;
    } 
}
.services .col .serv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .col .serv .text{
    flex: 1;
}
.services .col .serv .text h3{
    margin:  0 0 20px;
}
.services .col .serv .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .col .image{
    text-align: center;
    position: relative;
}
.services .col .image::before{
    content: "";
    position: absolute;
    background-color: var(--scondry-color);
    width: 100px;
    height: calc( 100% + 100px );
    right: 0;
    top: -50px;
    z-index: -1;
}
@media(max-width:1199px){
    .image-column{
        display: none;
    }
}

.services .col .image img{
    width: 240px;

}

/* End Services */
/* Start Portfolio */
.portfolio{
    padding-top:var(--sectio-padding);
    padding-bottom: var(--sectio-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio  .card{
 background-color: white;
}
.portfolio  .card img{
    max-width: 100%;
}
.portfolio  .card .info{
    padding: 20px;
}
.portfolio  .card .info h3{
    margin: 0;
}
.portfolio  .card .info p{
   color: #777;
   line-height: 1.6;
   margin-bottom: 0;
}
/* End Portfolio */
/* Start About Us */
.about{
    padding-top:var(--sectio-padding);
    padding-bottom: calc( var(--sectio-padding) + 60px );
}
.about-content{
 margin-top: 100px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
@media(max-width:991px){
    .about-content{
        flex-direction: column;
        text-align: center;
    }
}
.about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
.about-content .image img{
    width: 100%;
}
@media(max-width:991px){
    .about-content .image{
        margin: 0 auto 60px;
    }
}
.about-content .image::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height:calc( 100% + 80px);
    top: -40px ;
    left: -20px;
    z-index: -1;
}
.about-content .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    top: -40px;
    z-index: -1;
    right: -160px;
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color) ;
}
@media(max-width:991px){
    .about-content .image::before,
    .about-content .image::after
    {
      display: none;
    }
}
.about-content .text{
    flex-basis: calc(100% - 500px);
}
.about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about-content .text hr{
    border-color: var(--main-color);;
    display: inline-block;
    width: 50%;
     
}
.about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
/* End About Us */
/* Start Contact Us */
.contact{
    padding-top: var(--sectio-padding);
    padding-bottom: var(--sectio-padding);
    background-color: var(--section-background);
}
.contact .info{
    padding-top: var(--sectio-padding);
    padding-bottom: var(--sectio-padding);
    text-align: center;
}
.contact .info .lable{
    font-size: 30px;
    font-weight: 800;
    color: var(--scondry-color);
    letter-spacing: -2px;
    margin-bottom: 15PX;
}
.contact .info .link{
    display: block;
    font-size:35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
    
}
.contact .info .social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}
.contact .info .social i{
    margin-left: 10px;
    color: var(--scondry-color);
}
@media(max-width:767px){
    .contact .info .link ,
    .contact .info .lable{
        font-size: 25px;
    }
}
/* End Contact Us */
/* Start Footer */
.footer{
    background-color: var(--scondry-color);
    color: white;
    padding: 30px ;
    text-align: center;
    font-size: 18px;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer */